# Intro to Data Science with Pokemon
***

### Arrays

In [2]:
food = ["apple",  "banana", "cherry", "grape"]

In [3]:
print(food)

['apple', 'banana', 'cherry', 'grape']

In [4]:
print(food[2])

cherry

In [5]:
sliced_food_list = food[0:3]

In [6]:
print(sliced_food_list)

['apple', 'banana', 'cherry']

### Import Libraries
***

In [9]:
import pandas as pd
import numpy as py
import seaborn as sb

In [10]:
print("PANDAS version" + pd.__version__)
print("numpy version" + py.__version__)
print("Seaborn version" + sb.__version__)

PANDAS version2.2.3
numpy version2.1.1
Seaborn version0.13.2

### Loading Data
***

In [11]:
df = pd.read_csv("pokemon.csv")

### Displaying Full Data Frames
***

In [10]:
#pd.set_option("display.max_rows", None)

In [12]:
df.head()

,Per,Nat,Pokemon,HP,Atk,Def,SpA,SpD,Spe,Total,...,Catch,EXP,Evolve,Per.1,Nat.1,Joh,Hoe,Sin,Un,Pokemon.1
0,1.0,1.0,Bulbasaur,45,49,49,65,65,45,318,...,45,1059860,NaN,1.0,1.0,226.0,NaN,NaN,NaN,Bulbasaur
1,2.0,2.0,Ivysaur,60,62,63,80,80,60,405,...,45,1059860,Lv. 16,2.0,2.0,227.0,NaN,NaN,NaN,Ivysaur
2,3.0,3.0,Venusaur,80,82,83,100,100,80,525,...,45,1059860,Lv. 32,3.0,3.0,228.0,NaN,NaN,NaN,Venusaur
3,4.0,4.0,Charmander,39,52,43,60,50,65,309,...,45,1059860,NaN,4.0,4.0,229.0,NaN,NaN,NaN,Charmander
4,5.0,5.0,Charmeleon,58,64,58,80,65,80,405,...,45,1059860,Lv. 16,5.0,5.0,230.0,NaN,NaN,NaN,Charmeleon

This is the pokemon data set, note that all pokemon are present except the latest new generation

### Accessing Columns
***

In [21]:
pokemon_column = df.Pokemon

In [18]:
pokemon_column[0]

'Bulbasaur'

In [19]:
pokemon_column[0:3]

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object